@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .container {
        max-width: 1350px;
        width: 91.66% !important;
        margin: 0 auto;
    }
}
.customTooltip::before{
    @apply py-2 px-8 text-white flex justify-center items-center bg-gray-800
}

